<!DOCTYPE html>
<html>
  <head>

    <script src="//maps.google.com/maps/api/js?key=AIzaSyB8XnxZr6WHdOqtFNO5jS54IFwXoEgHPLg"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

  </head>

  <body>
    <form action = '/home/create' method = 'post'>
      <div style="display:flex; ">
      <%= link_to "", signout_path, id: "sign_out", class: "signoutbtn"%>
      <% if @posts.empty? %>
        <input style = "padding: 1px 0px 0px 12px; height: 40px; margin-top: 1.5px; margin-bottom:3px; width: 100%; font-size: 26.5px; font-family: sans-serif;" name = 'input_address' type='text' placeholder="Search Your Destination."required>
        <button class = "searchbutton" type = "submit"></button>
      <% else %>
<text style = "padding: 1px 0px 0px 12px; height: 40px; margin-top: 1.5px; margin-bottom:3px; width: 100%; font-size: 26.5px; font-family: sans-serif;">
  Your Destination is <%= @posts.first.address%>. </text>
      <%end%>
</div>
    </form>

       <div id="map"></div>




    <script type="text/javascript">

    var markers
    var marker
    function displayOnMap(position){
        marker = handler.addMarker({
        lat: position.coords.latitude,
        lng: position.coords.longitude,
        picture: {
            url: "https://maps.google.com/mapfiles/ms/micons/blue-dot.png",
            width:  36,
            height: 36
          }
      });
      handler.map.centerOn(marker);
    };
    handler = Gmaps.build('Google');
    // var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      if(navigator.geolocation)
        navigator.geolocation.getCurrentPosition(displayOnMap);
        markers = handler.addMarkers(
          <%=raw @hash.to_json %>
        );
        handler.bounds.extendWith(markers);
    });
    </script>


    <% @posts.each do |p| %>
      <%= link_to p.address, home_arrive_path(:post_id => p.id) %>
      <% session[:pid] = p.id %>
      "This is link to incur alarm manually, this is only test purpose."

    <% end %>
    <p id="demo"></p>

    <script>

    window.setInterval(getLocation, 6000);

    var x = document.getElementById("demo");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        var r = 6371;
        var lat1 = position.coords.latitude;
        var lng1 = position.coords.longitude;
        <% @posts.each do |p| %>
             var lat2 = <%= p.latitude %>
             var lng2 = <%= p.longitude %>
        <% end %>
        var lt1 = lat1* Math.PI / 180;
        var lt2 = lat2* Math.PI / 180;
        var lat_delta = (lat2-lat1) * Math.PI / 180;
        var lng_delta = (lng2-lng1) * Math.PI / 180;

        var a = Math.sin(lat_delta/2) * Math.sin(lat_delta/2) +
        Math.cos(lt1) * Math.cos(lt2) *
        Math.sin(lng_delta/2) * Math.sin(lng_delta/2);

        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));

      console.log("ha");

        x.innerHTML = c * r * 1000;
        if (c * r * 1000 < 500){
          window.location.href = "/home/arrive"
        }

    }
    </script>
    <!-- <button onclick="getLocation()">Try It</button>
    <p id="demo"></p> -->


  </body>


</html>
